.dashboard-charts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

.chart-section {
    flex: 1 1 30%;
    text-align: center;
    min-width: 280px;
}

canvas {
    max-width: 100%;
    height: auto;
}

#graphs-wrapper {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
  }
#graphs-wrapper.show {
      opacity: 1;
  }